*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;

}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    margin-left: 40px;
}

.logo a {
    text-decoration: none;
    color: #303030;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 37px;
    color: #303030;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 23px;
}

.navbar a:hover {
    background: #B9F2FF;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(img/1.jpg) no-repeat center;
    background-size: cover;

}

.title {
    margin-bottom: 40px;
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 30px;
    color: #fff;
    padding: 0 10px;
    border: 3px  black;
    padding: 10px;
    font-weight: bold;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    font-size: 30px;
    padding: 30px 70px;
    border: 2px solid #002387;
    color: #fff;
    text-decoration: none;
    background-color: #002387;
}

.btn:hover{
    background: none;
    }

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
        padding: 50 px 0;
        background: #303030;
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .box {
    height: 250px;
    width: 350px;
    background: #e8f2ff; /* Color de fondo azul claro */
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 25px;
    padding: 25px;
  }
  
  .box img {
    max-width: 30%;
    max-height: 30%;
    width: auto; /* Cambiar el tamaño de la imagen horizontalmente */
    height: auto; /* Cambiar el tamaño de la imagen verticalmente */
    top: 5px;
  }
  
  .box h3 {
    font-size: 24px; /* Aumentar tamaño de fuente */
    color: #002387; /* Color de texto azul oscuro */
    margin-bottom: 10px; /* Aumentar espacio entre título y texto */
  }
  
  .box p {
    font-size: 18px;
    color: #002387;
    opacity: 0; /* Establecer la opacidad inicialmente en 0 */
    transition: opacity 0.3s ease; /* Agregar una transición suave */
}

.box:hover p {
    opacity: 1; /* Cambiar la opacidad a 1 al poner el cursor sobre el elemento */
}
  
.price{
    background: url(img/print.gif) no-repeat center;
    background-size: cover;
    background-attachment: fixed; 
}
 
.about{
    background: #303030;
    padding: 50px 0;
}

.box-container2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.box-container2 .box{
    width: 250px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0    5px 5px rgba(0, 0, 0, .3);
    background: #171717;
    margin: 20px 20px;
}

.box-container2 .box img{
    height: 70px;
    width: 70px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: -50px;
    border: 6px solid #002387;
}

.box-container2 .box h3{
    font-size: 20px;
    color: #002387;
    padding-top: 10px;
}

.box-container2 .box p{
    font-size: 18px;
    color: #fff;
    padding: 0;
}

.box-container2 .box .stars i{
    font-size: 15px;
    color: #efb810;

}   

.contact {
    padding: 50px 0;
    background: #171717;
}

.footer-section{
    display: flex;

}

.f-enlaces{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

.f-enlaces a{
        color: #fff;
        text-decoration: none;
        margin-top: 20px;
}

@media (max-width:768px) {  
    p{
        padding: 0 50px;
        
    }
    .title{
        margin-bottom: 0px;
        font-size: 40px;
    }
    .sau{
        height: 100vh;
        padding: 50px;
    }
    .about{
        height: 100vh;
        padding: 50px 0;
    }
    .footer-section{
        display: flex;
        flex-direction: column;
    }
    .f-enlaces{
        display: none;
    }
    .navbar{
        display: none;
    }
    
}